@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato, sans-serif;
	color: #2d2d2d;
}

a {
	--highlight: #232bdd;
}

h1 {
	font-size: 1.6rem;
	font-weight: 700;

	@media (max-width: 1024px) {
		font-size: 1.2rem;
	}
}

h2 {
	font-size: 1.2rem;

	@media (max-width: 1024px) {
		font-size: 1rem;
	}
}

h3 {
	font-size: 1rem;

	@media (max-width: 1024px) {
		font-size: 0.9rem;
	}
}

strong {
	font-weight: 700;
}

code {
	background: #2d2d2d;
	color: white;
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
	overflow-wrap: break-word;
	font-family: Lato, sans-serif;
}

pre > code {
	white-space: pre;
}

iframe {
	padding: 0 1.6rem 1.6rem;
	width: 100%;
}

blockquote {
	color: var(--postColor);
	border-left: 0.3rem solid var(--highlight);
	padding: 0 1.875rem;
	margin: 3.125rem auto;
}

hr {
	border: 1px solid var(--borders);
	margin: 3rem auto;
}

a {
	border-bottom: 1px solid var(--highlight);
	color: var(--highlight);
	text-decoration: none;
	transition: opacity 0.5s;

	&:hover {
		opacity: 0.8;
	}
}

.pixel {
	overflow-clip-margin: unset;
	overflow: hidden;
	clip-path: circle();
}
